
/SureCheck/Shared/Core/[Bb]in/
/SureCheck/Shared/Core/[Oo]bj/
/SureCheck/Shared/Domain/[Bb]in/
/SureCheck/Shared/Domain/[Oo]bj/
/SureCheck/Shared/Portable.Data/[Bb]in/
/SureCheck/Shared/Portable.Data/[Oo]bj/
/SureCheck/Shared/Portable.Data.Sqlite/[Bb]in/
/SureCheck/Shared/Portable.Data.Sqlite/[Oo]bj/
/SureCheck/Shared/Sqlite/[Bb]in/
/SureCheck/Shared/Sqlite/[Oo]bj/
/SureCheck/Targets/Universal/Windows/[Bb]in/
/SureCheck/Targets/Universal/Windows/[Oo]bj/
/SureCheck/Targets/Universal/WindowsPhone/[Bb]in/
/SureCheck/Targets/Universal/WindowsPhone/[Oo]bj/
/SureCheck/Targets/Xam/Droid/[Bb]in/
/SureCheck/Targets/Xam/Droid/[Oo]bj/
/SureCheck/Targets/Xam/Forms.Shared/[Bb]in/
/SureCheck/Targets/Xam/Forms.Shared/[Oo]bj/
/SureCheck/Targets/Xam/iOS/[Bb]in/
/SureCheck/Targets/Xam/iOS/[Oo]bj/
/SureCheck/Targets/Xam/WinPhone/[Bb]in/
/SureCheck/Targets/Xam/WinPhone/[Oo]bj/
/SureCheck/Shared/Localization/[Bb]in/
/SureCheck/Shared/Localization/[Oo]bj/
/SureCheck/_ReSharper.SureCheck.Mobile/
[Bb]in/
[Oo]bj/


*.patch
*.csproj.user
*.suo
*.cache
*.xap
*.user
*.sdf
*.opensdf
*.ipch
*_i.c
*_p.c
MSSWinRTExtension.h
MSSWinRTExtension.winmd

