/QMaoPetSalon/QMaoPetSalon/[Bb]in/
/QMaoPetSalon/QMaoPetSalon/[Oo]bj/

[Bb]in/
[Oo]bj/


*.patch
*.csproj.user
*.suo
*.cache
*.xap
*.user
*.sdf
*.opensdf
*.ipch
*_i.c
*_p.c
MSSWinRTExtension.h
MSSWinRTExtension.winmd

